.app {
  width: 340px;
  margin: 20px auto;
  position: relative;
}

.dropdownButton {
  width: 100%;
  height: 30px;
}

.dropdownButtonIcon {
  float: right;
  width: 17px;
}

.selector {
  top: 0;
  left: 0;
  position: absolute;
  background: white;
  width: 100%;
}

.selectorInput {
  width: 80%;
  position: relative;
  display: inline-block;
}

.selectorInput input {
  padding-left: 30px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  font-size: 18px;
}

.searchIcon {
  width: 25px;
  position: absolute;
  left: 6px;
  top: 8px;
}

.noMatches {
  margin: 30px;
  text-align: center;
}

.clearIcon {
  position: absolute;
  right: 5px;
  height: 25px;
  top: 8px;
  display: inline-block;
}

.closeLink {
  margin-left: 15px;
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.selectedItem {
  height: 20px;
  float: right;
}